{{#if error}}
<div class="alert w-50 mx-auto alert-danger" role="alert">
  {{error}}
</div>

{{/if}}


{{#each errors}}



<div class="alert w-50 mx-auto alert-danger" role="alert">
  {{message}}
</div>

{{/each}}