<div class="jumbotron text-center ">
  <h1 class="display-4">Welcome !</h1>
  <p class="lead">Start sharing your stories , experiences and ideas here...</p>
  <hr class="my-4">
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/register" role="button">Start here... </a>
  </p>
</div>