

<div class="card card-body">
  <h3>Create Post</h3>
  
  <form action="/posts" method="post">
  <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="contents">Post</label>
      <textarea class="form-control" id="contents" name="contents" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Add post</button>
  </form>
</div>